# Python
__pycache__/
*.py[cod]
*.sqlite3
venv/
.env
media/
staticfiles/

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependencies
node_modules/

# Build output
dist/
build/

# Vite cache
.vite/

# OS files
.DS_Store
Thumbs.db